<!DOCTYPE html>
<html lang="en">
  <%- include('header-nested') %>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <%- include('sidebar') %>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <%- include('nav-bar') %>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary text-center">Add New Category</h6>
            </div>
          
          <div class="card shadow mb-4">
            <div class="card-body">
              <form class="form-horizontal" action="./add-new-category" id="SignupForm" class="form-horizontal" method="Post"  role="form">
                <% if(errors!='') { %>
                  <p style="color:hsla(0, 100%, 50%, 0.925); text-align: center; font-weight: 800;"> <%= errors %></p>
                 <% } %>
                 <% if(success!='') { %>
                  <p style="color:green; text-align: center;font-weight: bold;"> <%= success %></p>
                 <% } %>
                <div class="form-group">
                  <label for="Details" class="col-md-2 control-label">Category</label>
                  <div class="col-md-10">
                    <input type="text" class="form-control" id="category" placeholder="Enter Category name" name="category">
                  </div>
              </div>

              </div>
              <div class="form-group">
                <label for="username" class=" col-md-2 ml-4 control-label">Category Details</label>
                <div class="col-md-10 ml-4">
                    <textarea class="form-control" id="editor" name="category_details" rows="5" placeholder="Enter Category Details(Optional)"></textarea>
                </div>
            </div>
                <div class="form-group">        
                  <div class="col-sm-offset-2 col-sm-10 text-center">
                    <button type="submit" class="btn btn-primary">Add Category</button>
                  </div>
                </div>
              </form>
                    
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <%- include('footer') %>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="../vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="../js/demo/datatables-demo.js"></script>

</body>

</html>
